body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #0b131c;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1569bc;
    color: #d7d7d7;
    text-align: center;
    padding: 5px;
}

hr{
    height: 5px;
    width: 50%;
    background-color: #1569bc;
    border-color: #1569bc;
    border-radius: 50%;
}

h1 {
    font-size: 36px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-size: 25px;
}

nav ul {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul li {
    display: inline;
    margin-right: 30px;
    transition: all 0.3s ease;
}

nav ul li a {
    text-decoration: none;
    color: #d7d7d7;
    font-weight: bold;
}

nav ul li:hover{
    font-size: 1.2rem;
}

nav ul li a:hover{
    color: aquamarine;
}

a{
    font-size: larger;
}

.profile {
    display: flex;
    align-items: center;
    padding: 40px;
}

.profile-photo img {
    height: 250px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.profile-photo:hover img {
    transform: scale(1.2);
}

.profile-info {
    margin-left: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.profile h1 {
    font-size: 24px;
}

.languages {
    margin-top: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color:#1569bc;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

.pdf-button {
    display: inline-block;
    padding: 10px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.pdf-button:hover{
    background-color: #0056b3;
}

input[type="text"],
input[type="email"],
textarea {
    width: 98%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: none;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #d6d6d6;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
