hr{
    width: 70%;
    height: 5px;
    background-color: red;
    border-color: blue;
}

h2{
    color:aquamarine
}

h3{
    color:brown
}

.title1{
    color:chartreuse
}

ol.cars>li{
    list-style-type: circle;
    color:darkblue;
}




